{% extends 'base.html' %}
{% block content %}
	<div class="container">
	  <h2>Carousel Example</h2>
	  <div id="myCarousel" class="carousel slide" data-ride="carousel">
	    <!-- Indicators -->
	    <ol class="carousel-indicators">
	    {% for i in count %}
	    	{% if i == 0 %}
	    		<li data-target="#myCarousel" data-slide-to="{{i}}" class="active"></li>
	    	{% else %}
	    		<li data-target="#myCarousel" data-slide-to="{{i}}"></li>
	    	{% endif %}
	    {% endfor %}
	    </ol>
	    <!-- Wrapper for slides -->

	    <div class="carousel-inner">
	    	<div class="item active">
	        <img src="/media/recipe_pics/{{i}}" class="img-responsive" alt="Los Angeles" style="width:800px; height:500px;">
	        <div class="carousel-caption">
	          <h3>Recipe Hub</h3>
	          <p>where foodies meet together!</p>
	        </div>
	      </div>
	    {% for i in demo %}
	      <div class="item">
	        <img src="/media/recipe_pics/{{i}}" class="img-responsive" alt="Los Angeles" style="width:800px; height:500px;">
	        <div class="carousel-caption">
	          <h3>Recipe Hub</h3>
	          <p>where foodies meet together!</p>
	        </div>
	      </div>
	     {% endfor %}
	    </div>

	    <!-- Left and right controls -->
	    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
	      <span class="glyphicon glyphicon-chevron-left"></span>
	      <span class="sr-only">Previous</span>
	    </a>
	    <a class="right carousel-control" href="#myCarousel" data-slide="next">
	      <span class="glyphicon glyphicon-chevron-right"></span>
	      <span class="sr-only">Next</span>
	    </a>
	  </div>
    </div>
{% endblock %}
