{% extends 'base.html' %}
{% load static %}
{% load image_tags %}
{% block content %}
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" class="img-circle" alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li><a href="{% url 'recipe:recipe-list' %}" style="margin-left: 10px;">Home</a></li>
		           <li><a href="{% url 'recipe:user-profile' %}">Profile</a></li>
		           <li><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li class="active"><a href="{% url 'recipe:media-files' %}">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
  		</div>
	</nav>
	<div class="container" align="center">
		<div>
			<h3>Your Recipe images</h3>
			{% for image in images %}
				<img class="media-image" src="{{image.image.url}}" alt="recipe-image">
			{% endfor %}
		</div>
		<div>
			<h3>Your Recipe Videos</h3>
			{% for video in videos %}
				<video class="media-video" controls="">
					<source src="{{video.video.url}}">
				</video>
			{% endfor %}
		</div>
	</div>
{% endblock %}