{% extends 'base.html' %}
{% load static %}
{% load image_tags %}
{% block content %}
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" class="img-circle" alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li><a href="{% url 'recipe:recipe-list' %}" style="margin-left: 10px;">Home</a></li>
		           <li class="active"><a href="{% url 'recipe:user-profile' %}">Profile</a></li>
		           <li><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li><a href="{% url 'recipe:media-files' %}">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
  		</div>
	</nav>
	{% block title %}<h1 align="center">{{username}}'s Profile</h1>{% endblock %}
	<div class="container">
		<div class="col-md-6">
			<div>
				<img src="{{ current_user.profile_pic.url}}" class="img-rounded" alt="profile-pic">
			</div>
		</div>
		<div class="col-md-6">
			<div>
				<p><label>Username : {{current_user.username}}</label></p>
				<p><label>Full name : {{current_user.first_name}} {{current_user.last_name}}</label></p>
				<p><label>Email : {{current_user.email}}</label></p>
				<a href="{% url 'recipe:edit-profile' %}">
                	<button class="btn btn-warning" type="submit">Edit Profile</button>
            	</a>
			</div>
			<div id="recipe-list-in-profile">
				<h3><u>Your Recipes</u></h3>
				{% for recipe in user_recipe %}
					<p><a href="/recipe/recipe-details/{{recipe.pk}}">{{recipe.name}}</a></p>
				{% endfor %}
			</div>
			
		</div>

	</div>
{% endblock %}