<!DOCTYPE html>
<html>
<head>
	<title>Recipe Hub</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="http://127.0.0.1:8000/static/css/star.css">
</head>
<body>
	<div>
		{% for recipe in recipe %}
			<h2 align="center">{{ recipe.name }}</h2>
			<hr>
			<div align="center">
				{% for img in pics %}
					<img src="http://127.0.0.1:8000{{img.image.url}}" class="img-circle" alt="recipe-image" width="350" height="200">
				{% endfor %}
			</div>
			<hr>
			<h4>Incredients</h4>
			<p class="pdf_text">
				{{ recipe.incredient }}
			</p>
			<h4>How to cook {{recipe.name}}</h4>
			<p class="pdf_text">
				{{ recipe.recipe }}
			</p>
			<hr>
			<strong>Posted By : {{recipe.user}}</strong>
		{% endfor %}
	</div>
</body>
</html>