{% extends 'base.html' %}
{% load static %}
{% block content %} 
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" class="img-circle" alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li><a href="{% url 'recipe:recipe-list' %}"style="margin-left: 10px;">Home</a></li>
		           <li><a href="{% url 'recipe:user-profile' %}">Profile</a></li>
		           <li class="active"><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li><a href="{% url 'recipe:media-files' %}">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
  		</div>
	</nav>
	{% block title %}<h1 align="center">Add Recipe</h1>{% endblock %}
    <div>
        <form method="post" enctype="multipart/form-data" class="col-md-4">
            {% csrf_token %} {{ form.as_p}}
            <button type="submit" class="btn btn-info">Add</button>
        </form>
    </div> 
{% endblock %}
