{% extends 'base.html' %}
{% load static %}
{% load el_pagination_tags %}
{% load image_tags %}
{{ block.super }}
{% block content %}
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" class="img-circle" alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li class="active"><a href="{% url 'recipe:recipe-list' %}" style="margin-left: 10px;">Home</a></li>
		           <li><a href="{% url 'recipe:user-profile' %}">Profile</a></li>
		           <li><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li><a href="{% url 'recipe:media-files' %}">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
  		</div>
	</nav>
	{% for recipe in recipe %}
	<div class="container">
		<div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Recipe Hub</h4>
		        </div>
		        <div class="modal-body">
		          <div class="panel panel-success" >
				      <div class="panel-heading" id="success_text"></div>
				  </div>
		        </div>
		      </div>
		      
		    </div>
		 </div>
		<div align="center">
			<hr>
			<h3>
				{{recipe.name}}
			</h3>
			{% for pic in image %}
				<img src="{{pic.image.url}}" class="img-rounded" width="400" height="200" alt="picture">
			{% endfor %}
			<hr>
		</div>
		<div align="center">
			<video controls="" width="900">
				<source src="{{recipe.video.url}}">
			</video>
		</div>
		<hr>
		<div align="left" class="col-md-8 recipe-text">
			<span>
				<h4> Incredients </h4>
				<p>
					{{recipe.incredient}}
				</p>	
			</span>
			<span>
				<h4>How to cook {{recipe.name}}
				</h4>
				<p>
					{{recipe.recipe}}
				</p>	
			</span>
		</div>
		<div align="center" class=" col-md-2">
		 <a href='/recipe/recipe-download/{{recipe.pk}}'><button class="btn btn-danger">Download Recipe</button></a>  
		</div>
		<div class='comment-box col-md-4'>
			{% include "recipe/star.html" %}
			<div id="comment-list">
				<input type="text" name="comment" class="form-control comment-textbox" id="{{ recipe.pk }}" placeholder="Comment Here">
				<button class="btn btn-success" onclick="recipeComment(this.name)" name="{{ recipe.pk }}">Comment</button>
			</div>
			<div id="commentdisplay">
				{% recipe_comment recipe.pk as comments %}
					{% for comment in comments%}
						<p><b>{{comment.user}}</b> : {{comment.comment}}</p>
					{% endfor %}
			</div>
		</div>
	</div>
	{% endfor %}
	<hr>
	<script src="{% static 'js/el-pagination.js'%}"></script>
	<script >$('#commentdisplay').endlessPaginate({paginateOnScroll:true});</script>
	<script type="text/javascript">  
    function MyRating(temp){
      var radio1=$('input[type="radio"]:checked').val();
          $.ajax({
              url : "/recipe/rating",
              type : "POST",
              data : {
                'rating' : radio1,
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
                'recipe':temp
            },
              success : function(data) {
                $("#success_text").html(data.message);
                $("#avg_rating").html('Average Rating :'+data.avg_rating);
            	$("#myModal").modal('show');
            setTimeout(function() {
              $('#myModal').modal('hide');
            }, 1000);
              }
          });
          return false;
    } 
    function recipeComment(recipe_id){
        var comment = document.getElementById(recipe_id).value;
        $.ajax({
            url:'/recipe/comments',
            method:'POST',
            data:{'recipe': recipe_id, 'comment': comment,
            'csrfmiddlewaretoken': '{{ csrf_token }}'},
            success: function(response)
            {   
	    		if(response.status){
	            	alert("Please add Comment before submitting.")
	            }
	            else{
	            	$('#commentdisplay').prepend(response.comment);
	            	$('.comment-textbox').empty()
	            }
	            

            }
            
	                
        });
    } 
  </script>
{% endblock %}