{% extends 'base.html' %}
{% load static %}
{% load image_tags %}
{% block content %} 
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" class="img-circle"  alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li class="active"><a href="{% url 'recipe:recipe-list' %}" style="margin-left: 10px;">Home</a></li>
		           <li><a href="{% url 'recipe:user-profile' %}">Profile</a></li>
		           <li><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li><a href="#">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
	        <div align="right">
	       		<form method="get" action="#">
	       			{% csrf_token %}
			       	<input type="text" name="word" id="word" >
		           	<input type="submit" value="Search" >
		       </form>
	       </div>
  		</div>
	</nav>
	<div id="recipes" class="col-md-12" align="center">
        {% for rp in recipe %}
        	<hr>
	        {% recipe_images rp.pk as pics %}
        	{% for imgs in pics %}
        		<img src="{{ imgs }}" class="img-rounded" alt="picture" width="400" height="200">
			{% endfor %}
            <p><b>Recipe Name : </b>{{ rp.name }}</p>
            <p><b>Posted By : </b>{{ rp.user }}</p>
            <p>
        		<a href="/recipe/recipe-details/{{ rp.pk }}"><button type="submit" class="btn btn-warning" name="{{ rp.pk }}">View More
        		</button></a>
            </p>
            <hr>
        {% endfor %}
    </div> 
    
{% endblock %}
