{% load image_tags %}
{% rating_star recipe.pk as rating %}
<form method="POST">
    <span class="star-cb-group star">
      {% csrf_token %}
      {% if rating == 1 or rating < 2 %}
        <input type="radio" id="rating-5" name="rating" value="5" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" checked="" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% elif rating == 2 or rating < 3 %}
        <input type="radio" id="rating-5" name="rating" value="5" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" checked="" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% elif rating == 3 or rating < 4 %}
        <input type="radio" id="rating-5" name="rating" value="5" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" checked="" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% elif rating == 4 or rating < 5 %}
        <input type="radio" id="rating-5" name="rating" value="5" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" checked="" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% elif rating == 5 %}
        <input type="radio" id="rating-5" name="rating" value="5" checked="" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% else %}
        <input type="radio" id="rating-5" name="rating" value="5" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-5">5</label>
        <input type="radio" id="rating-4" name="rating" value="4" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-4">4</label>
        <input type="radio" id="rating-3" name="rating" value="3" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-3">3</label>
        <input type="radio" id="rating-2" name="rating" value="2" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-2">2</label>
        <input type="radio" id="rating-1" name="rating" value="1" onclick="MyRating('{{recipe.pk}}')" /><label for="rating-1">1</label>
        <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear" /><label for="rating-0">0</label>
      {% endif %}
    </span>
    <div id="rating_text">
        <label contextmenu="label" id="avg_rating">Average Rating :{{ rating }}</label>
    </div>
</form>

