 
 .star{
 	margin-left: 90px;
 }

 .star-cb-group {
 /* remove inline-block whitespace */
 font-size: 0;
 /* flip the order so we can use the + and ~ combinators */
 unicode-bidi: bidi-override;
 direction: rtl;
 /* the hidden clearer */

}
.star-cb-group * {
 font-size: 1rem;
}
.star-cb-group > input {
 display: none;
}
.star-cb-group > input + label {
 /* only enough room for the star */
 display: inline-block;
 overflow: hidden;
 text-indent: 9999px;
 width: 1em;
 white-space: nowrap;
 cursor: pointer;
}
.star-cb-group > input + label:before {
 display: inline-block;
 text-indent: -9999px;
 content: "☆";
 color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
 content: "★";
 color: yellow;
 text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
 text-indent: -9999px;
 width: .5em;
 margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
 width: .5em;
}
.star-cb-group:hover > input + label:before {
 content: "☆";
 color: #888;
 text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
 content: "★";
 color: yellow;
 text-shadow: 0 0 1px #333;
}

:root {
 font-size: 2em;
 font-family: Helvetica, arial, sans-serif;
}

#log {
 margin: 1em auto;
 width: 5em;
 text-align: center;
 background: transparent;
}

h1 {
 text-align: center;
}


.comment-box{
	border-radius: 15px; 
	border: solid black 2px;
	margin-top: 10px;
	height: 500px;
}

.recipe-text{
	text-align: justify;
}

.star-text label{
	text-align: center;
	margin-left: 0px !important;
}

#rating_text{
	margin-left: 105px;
}

.pdf_text{
	text-align: justify !important;
	text-justify: inter-word;
}

#commentdisplay{
	margin-top: 20px;
	text-align: justify;
	float:left;
	width:350px;
	max-height: 300px;
    overflow-y: scroll;
}

#comment-list button{
	margin-top: 10px;
	margin-left: 120px;
	margin-bottom: 10px;	
}

#recipe-list-in-profile{
	margin-top: 50px;
	font-size: 30px;
	color: green;
	text-decoration: none;
	max-height: 200px;
    overflow-y: scroll;
}

.media-image{
	width: 300px;
	height: 200px;
}

.media-video{
	width: 800px;
	height: 500px;
}

#myCarousel{
	width: 800px !important;
	height: 500px !important;
}

#myCarosel img{
	width: 800px !important;
	height: 500px !important;
}

#about-us{
	font-size: 25px;
	text-align: center;
	/*width: 800px;*/
}

#contact-us{
	width: 500px;
	margin: auto;
}