{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container" style="margin: auto;">
        <div class="navbar-header">
            <label style="color: white; margin-top: 5px;">
                <h4>Recipe Hub</h4></label>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="{% url 'registration:index' %}" style="margin-left: 10px;">Home</a></li>
                <li class="active"><a href="{% url 'registration:about-us' %}">About Us</a></li>
                <li><a href="{% url 'registration:contact-us' %}">Contact Us</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'registration:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'registration:user-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% block title %}<h1 align="center">About Us</h1>{% endblock %}
<div align="center" id="about-us">
    <p>
        Recipe Hub is an online platform where foodies meet together.
    </p>
	<p>
        Cooking is one of the strongest ceremonies for life. When recipes are put together, the kitchen is a chemical laboratory involving air, fire, water and the earth. This is what gives value to humans and elevates their spiritual qualities. If you take a frozen box and stick it in the microwave, you become connected to the factory.Cooking with kids is not just about ingredients, recipes, and cooking. It's about harnessing imagination, empowerment, and creativity.
    </p>
    <p>
        You don't have to be a chef or even a particularly good cook to experience proper kitchen alchemy: the moment when ingredients combine to form something more delectable than the sum of their parts. Fancy ingredients or recipes not required; simple, made-up things are usually even better.
    </p>
</div>

{% endblock %}
