{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container" style="margin: auto;">
        <div class="navbar-header">
            <label style="color: white; margin-top: 5px;">
                <h4>Recipe Hub</h4></label>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="{% url 'registration:index' %}" style="margin-left: 10px;">Home</a></li>
                <li><a href="{% url 'registration:about-us' %}">About Us</a></li>
                <li class="active"><a href="{% url 'registration:contact-us' %}">Contact Us</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'registration:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'registration:user-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% block title %}<h1 align="center">Contact Us</h1>{% endblock %}
<div align="center" id="contact-us">
    <form method="post" id="mail">
        {% csrf_token %}
        <div><input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required=""></div>
        <div><input type="email" name="email" class="form-control" id="email" placeholder="Email Id" required=""></div>
        <div><input type="text" name="subject" class="form-control" id="subject" placeholder="Subject" required=""></div>
        <div><textarea name="message" class="form-control" id="message" placeholder="Message" required=""></textarea></div>
        <button class="btn btn-success" type="submit" onclick="mailSend()">Send</button>
    </form>
    <span id="success_text"></span>
</div>
<script type="text/javascript">
    function mailSend() {
        var name = $('#name').val()
        var email = $('#email').val()
        var subject = $('#subject').val()
        var message = $('#message').val()
        $.ajax({
            url : "/registration/contact-us",
            type : "POST",
            data : {
              'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
              'name': name,
              'email': email,
              'subject': subject,
              'message': message
            },success: function(response){
                $("#success_text").html(response.message)
                $("#mail").empty();
            }

        })
    }
</script>
{% endblock %}
