{% extends 'base.html' %} {% block title %} {% endblock %} {% block content %}
    <nav class="navbar navbar-inverse">
        <div class="container" style="margin: auto;">
            <div class="navbar-header">
                <label style="color: white; margin-top: 5px;">
                    <h4>Recipe Hub</h4></label>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'registration:index' %}" style="margin-left: 10px;">Home</a></li>
                    <li><a href="{% url 'registration:about-us' %}">About Us</a></li>
                    <li><a href="{% url 'registration:contact-us' %}">Contact Us</a></li>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'registration:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="{% url 'registration:user-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    </ul>
                </ul>
            </div>
            <div align="right">
                {% csrf_token %}
                <input type="text" name="word" id="word">
                <button type="submit" id="search" onclick="Search()">Search</button>
            </div>
        </div>
    </nav>
    <div class="container" id="home-page">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for i in count %}
                {% if i == 0 %}
                    <li data-target="#myCarousel" data-slide-to="{{i}}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{i}}"></li>
                {% endif %}
            {% endfor %}
            </ol>
            <!-- Wrapper for slides -->

            <div class="carousel-inner">
            {% for i in demo %}
              <div class="item {% if forloop.first %}active{% endif %}">
                <img src="/media/recipe_pics/{{i}}" class="img-responsive" alt="Recipe Hub" style="width:800px; height:500px;">
                <div class="carousel-caption">
                  <h3>Recipe Hub</h3>
                  <p>where foodies meet together!</p>
                </div>
              </div>
             {% endfor %}
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
              <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <script type="text/javascript">
        function Search() {
            var word = $('#word').val();
            $.ajax({
                type: 'GET',
                url: '/registration/search',
                data: {'word': word,
                       'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
            },success: function(response){
                // alert('hello');
                $('#home-page').empty();
               // alert(response.html)
               document.getElementById("home-page").innerHTML = response.html;
            }
            })
        }
    </script>
{% endblock %}