{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-inverse">
    <div class="container" style="margin: auto;">
        <div class="navbar-header">
            <label style="color: white; margin-top: 5px;">
                <h4>Recipe Hub</h4></label>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li ><a href="{% url 'registration:index' %}" style="margin-left: 10px;">Home</a></li>
                <li><a href="{% url 'registration:about-us' %}">About Us</a></li>
                <li><a href="{% url 'registration:contact-us' %}">Contact Us</a></li>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'registration:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li class="active"><a href="{% url 'registration:user-login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
            </ul>
        </div>
    </div>
</nav>
{% block title %}<h1 align="center">Login</h1>{% endblock %}
<div align="center">
	<font color="red">{{ error_message }}</font>
	<form method="post">
		{% csrf_token %}
		{{ form.as_p}}
		<button type="submit" class="btn btn-success">Login</button>
	</form>
</div>

{% endblock %}
