{%for recipe in recipe %}
<div align="center">
	<h3>{{recipe.name}}</h3>
	{% for img in image%}
	<img src="{{img.image.url}}" alt="recipe-pic" width="400px" height="250px">
	{%endfor%}
	<div><label><strong>Posted By :</strong> {{recipe.user}}</label></div>
	<div><a href="/recipe/recipe-details/{{recipe.pk}}"><button class="btn btn-info">View More</button></a></div>
</div>
{% endfor %}