{% extends 'base.html' %}
{% load static %}
{% block content %} 
	{% if username %}
	<nav class="navbar navbar-inverse">
   		<div class="container" style="margin: auto;">
	       	<div class="navbar-header" >
	       		<img src="{{ user.profile_pic.url}}" alt="profile-image" height="50px" width="80px">
	            <label style="color: black;" >Hello {{username}}</label>
	       	</div>
		       <ul class="nav navbar-nav">
		           <li class="active"><a href="{% url 'registration:home' %}" style="margin-left: 10px;">Home</a></li>
		           <li><a href="#">Profile</a></li>
		           <li><a href="{% url 'recipe:add-recipe' %}">Add Recipes</a></li>
		           <li><a href="#">Images & Videos</a></li>
		           <li><a href="{% url 'registration:logout' %}">Logout</a></li>
		       </ul>
	        <div align="right">
	       		<form method="get" action="#">
	       			{% csrf_token %}
			       	<input type="text" name="word" id="word" >
		           	<input type="submit" value="Search" >
		       </form>
	       </div>
  		</div>
	</nav>
	{% endif %} 
{% endblock %}